.list-item {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    min-height: 40px;
    border-radius: 3px;
    background-color: #d4d8db;
    transition: .3s;
    margin: 0 10px 0 0;
    max-height: 100%;
    overflow:hidden;
}

.list-item-header {
    padding: 5px 10px;
    background-color: #c3c6c9;
    p {
        margin: 0;
        font-size: 16px;
        color: #222222;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 25px 0 0;
        max-width: calc(100% - 25px);
        position: relative;
        span{
            position: absolute;
            right: 0;
            top: 1px;
            cursor: pointer;
            font-size: 14px;
            color: #222;
            transition: .3s;
            margin: 0 0 0 10px;
            &:hover{
                color: #007bff;
            }
        }
    }
    .remove-list {
        font-size: 16px;
        color: #222222;
        border: none;
        background-color: transparent;
        padding: 0;
        transition: .3s;
        &:focus {
            outline: none;
        }
        &:hover {
            color: #dc3545;
        }
    }
}


.list-item-wrapper{
    padding: 5px;
    height: calc(100% - 34px);
}

.list-item-content {
    padding: 0 5px 0 0;
    overflow: auto;
    height: 100%;
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.7);
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 1);
    }
}

.list-item-add-card {
    width: 100%;
    transition: .3s;
    background-color: #c3c6c9;
    &:hover {
        p {
            color: white;
        }
        background-color: #a1a2a5;
    }
    &:focus-within {
        background-color: #a1a2a5;
        div {
            padding: 0 5px 5px 5px;
            height: auto;
        }
    }
    label {
        width: 100%;
        height: 40px;
        padding: 5px;
        margin: 0;
        position: relative;
        &:focus-within {
            height: 45px;
            p {
                display: none;
            }
            input {
                position: relative;
                height: 35px;
                padding: 0 10px;
                border: 2px solid #007bff;
                border-radius: 2px;
            }
        }
        p {
            color: #777;
            cursor: pointer;
            line-height: 30px;
            width: 100%;
            padding: 0 5px;
            margin: 0;
            font-size: 14px;
            transition: .3s;
        }
        input {
            position: absolute;
            height: 0;
            padding: 0;
            border: none;
            width: 100%;
            font-size: 14px;
            &::placeholder {
                color: #777777;
            }
            &:focus {
                outline: none;
            }
        }
    }
    div {
        position: relative;
        padding: 0 5px;
        width: 100%;
        transition: .3s;
        height: 0;
        overflow: hidden;
        button {
            font-size: 14px;
            color: white;
            border-radius: 3px;
            background-color: #28a745;
            height: 30px;
            border: none;
            transition: .3s;
            &:hover {
                background-color: #218838;
            }
            &:focus {
                outline: none;
            }
            &:disabled {
                background-color: #b4b4b4;
            }
        }
    }
}

.add-card-cancel {
    position: absolute;
    left: 85px;
    top: -9px;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
    color: #798d99;
    &:hover {
        color: #536169;
    }
}